<div class="jumbotron text-center">
    <h1>Home Page</h1>

    <p>{{ home.message }}</p>
    <!-- display the list using ng-repeat -->
    <h2>This is my list:</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Name</td>
            <td>Color</td>
            <td>Nerd Level</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="computer in home.computers">
            <td>{{ computer.name }}</td>
            <td>{{ computer.color }}</td>
            <td>{{ computer.nerdness }}</td>
        </tr>
        </tbody>
    </table>
</div>